doctype html
html lang = 'ru'
  head
    meta charset = 'utf-8'
    meta name = 'viewport' content = 'width=device-width, initial-scale=1'
    meta name = 'description' content = 'На 100% качественные оригинальные трансформеры Поли Робокар с доставкой через 3 часа'
    title = 'Игрушки Робокары'
    link href='http://fonts.googleapis.com/css?family=PT+Sans:400,700&subset=latin,cyrillic' rel='stylesheet'
    link href = '/content/favicon.ico' rel = 'shortcut icon' type = 'image/x-icon'
    link href = '//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css' rel = 'stylesheet'
    link href = '//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css' rel = 'stylesheet'
    /[if lt IE 9]
      script src = 'https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js'
      script src = 'https://oss.maxcdn.com/respond/1.4.2/respond.min.js'
    script src = '//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js'
    //script window.jQuery || document.write('<script src="js/vendor/jquery-1.11.2.min.js"><\/script>')
    script src = '//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js'
    noscript <div><img src="//mc.yandex.ru/watch/28758011" style="position:absolute; left:-9999px;" alt="" /></div>
    noscript <div style="position:absolute;left:-10000px;"><img src="//top-fwz1.mail.ru/counter?id=2635269;js=na" style="border:0;" height="1" width="1" alt="Рейтинг@Mail.ru" /></div>
    == assets(:css)
    javascript:
      (function (d, w, c) {
        (w[c] = w[c] || []).push(function() {
          try {
            w.yaCounter29120320 = new Ya.Metrika({id:29120320,
              webvisor:true,
              clickmap:true,
              trackLinks:true,
              accurateTrackBounce:true});
          } catch(e) { }
        });

        var n = d.getElementsByTagName("script")[0],
          s = d.createElement("script"),
          f = function () { n.parentNode.insertBefore(s, n); };
        s.type = "text/javascript";
        s.async = true;
        s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";

        if (w.opera == "[object Opera]") {
          d.addEventListener("DOMContentLoaded", f, false);
        } else { f(); }
      })(document, window, "yandex_metrika_callbacks");
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-55148074-10', 'auto');
        ga('send', 'pageview');
  body
    == yield
    javascript:
      /* <![CDATA[ */
      var google_conversion_id = 962047574;
      var google_custom_params = window.google_tag_params;
      var google_remarketing_only = true;
      /* ]]> */
    script src = '//www.googleadservices.com/pagead/conversion.js'
    noscript <div style="display:inline;"><img height="1" width="1" style="border-style:none;" alt="" src="//googleads.g.doubleclick.net/pagead/viewthroughconversion/962047574/?value=0&amp;guid=ON&amp;script=0"/>
    == assets(:js)
