div id = "blueimp-gallery" class = "blueimp-gallery blueimp-gallery-controls"
  div class = "slides"
  h3 class = "title"
  a class = "prev" ‹
  a class = "next" ›
  a class = "close" ×
  a class = "play-pause"
  ol class = "indicator"
div.container
  nav class = 'navbar navbar-default navbar-fixed-top'
    div class = 'container'
      div class = 'navbar-header'
        button type = 'button' class = 'navbar-toggle collapsed' data-toggle = 'collapse' data-target = '#topNav'
          span.icon-bar
          span.icon-bar
          span.icon-bar
        a class = 'navbar-brand' href = '#top'
          img src = 'content/logo.jpg' height = '50px'
      div class = 'navbar-collapse collapse' id = 'topNav'
        ul class = 'nav navbar-nav'
          li
            a href = '#toys' Игрушки
          li
            a href = '#techSpec' Характеристики
          li
            a href = '#offer' Цена
          li
            a href = '#feedback' Отзывы
        ul class = 'nav navbar-nav navbar-right'
          li
            h4 class = 'text-primary'
              strong 
                | 8 (495) 66-44-612
          li
            button type = 'button' class = 'btn btn-warning navbar-btn' data-toggle = 'modal' data-target = '#modal'
              strong Оставить заявку
div class = 'container-fluid' id = 'top'
  div.container
    div.row
      div.col-xs-12
        h1 class = 'text-center' Оригинальные игрушки Poli Robocar.<br>В 2 раза дешевле. От производителя.<br>Доставим сегодня.
      div class = 'col-sm-6 col-sm-offset-3'
        img src = 'content/kid.png' class = 'img-responsive'
div class = 'container' id = 'toys'
  div class = 'row gallery'
    div class = 'col-sm-3' id = 'poli'
      h1.text-center Поли
      img src = 'content/poliM' class = 'img-responsive center-block'
      div class = 'row'
        div class = 'col-xs-6'
          a href = 'content/poli'
            img src = 'content/poli' class = 'img-responsive img-rounded'
        div class = 'col-xs-6'
          a href = 'content/poli3.jpg'
            img src = 'content/poli3.jpg' class = 'img-responsive img-rounded'
        div class = 'col-xs-6'
          a href = 'content/poli4.jpg'
            img src = 'content/poli4.jpg' class = 'img-responsive img-rounded'
        div class = 'col-xs-6'
          a href = 'content/poli5.jpg'
            img src = 'content/poli5.jpg' class = 'img-responsive img-rounded'
      h2.text-center
        u 499 руб
      button type = 'button' class = 'btn btn-primary btn-block' data-toggle = 'modal' data-target = '#modal'
        strong Заказать
    div class = 'col-sm-3' id = 'roy'
      h1.text-center Рой
      img src = 'content/royM' class = 'img-responsive center-block'
      div class = 'row'
        div class = 'col-xs-6'
          a href = 'content/roy'
            img src = 'content/roy' class = 'img-responsive img-rounded'
        div class = 'col-xs-6'
          a href = 'content/roy3.jpg'
            img src = 'content/roy3.jpg' class = 'img-responsive img-rounded'
        div class = 'col-xs-6'
          a href = 'content/roy5.jpg'
            img src = 'content/roy5.jpg' class = 'img-responsive img-rounded'
        div class = 'col-xs-6'
          a href = 'content/roy6.jpg'
            img src = 'content/roy6.jpg' class = 'img-responsive img-rounded'
      h2.text-center
        u 499 руб
      button type = 'button' class = 'btn btn-primary btn-block' data-toggle = 'modal' data-target = '#modal'
        strong Заказать
    div class = 'col-sm-3' id = 'helly'
      h1.text-center Хэлли
      img src = 'content/hellyM' class = 'img-responsive center-block'
      div class = 'row'
        div class = 'col-xs-6'
          a href = 'content/helly'
            img src = 'content/helly' class = 'img-responsive img-rounded'
        div class = 'col-xs-6'
          a href = 'content/helly2.jpg'
            img src = 'content/helly2.jpg' class = 'img-responsive img-rounded'
        div class = 'col-xs-6'
          a href = 'content/helly5.jpg'
            img src = 'content/helly5.jpg' class = 'img-responsive img-rounded'
        div class = 'col-xs-6'
          a href = 'content/helly1.jpg'
            img src = 'content/helly1.jpg' class = 'img-responsive img-rounded'
      h2.text-center
        u 499 руб
      button type = 'button' class = 'btn btn-primary btn-block' data-toggle = 'modal' data-target = '#modal'
        strong Заказать
    div class = 'col-sm-3' id = 'amber'
      h1.text-center Эмбер
      img src = 'content/amberM' class = 'img-responsive center-block'
      div class = 'row'
        div class = 'col-xs-6'
          a href = 'content/amber'
            img src = 'content/amber' class = 'img-responsive img-rounded'
        div class = 'col-xs-6'
          a href = 'content/amber3.jpg'
            img src = 'content/amber3.jpg' class = 'img-responsive img-rounded'
        div class = 'col-xs-6'
          a href = 'content/amber6.jpg'
            img src = 'content/amber6.jpg' class = 'img-responsive img-rounded'
        div class = 'col-xs-6'
          a href = 'content/amber2.jpg'
            img src = 'content/amber2.jpg' class = 'img-responsive img-rounded'
      h2.text-center
        u 499 руб
      button type = 'button' class = 'btn btn-primary btn-block' data-toggle = 'modal' data-target = '#modal'
        strong Заказать
div class = 'container' id = 'techSpec'
  div class = 'row'
    div class = 'col-xs-12 col-sm-6'
      h2 class = 'text-center' Распаковка и обзор игрушек
      div class = "embed-responsive embed-responsive-16by9"
        iframe class="embed-responsive-item" src = "https://www.youtube.com/embed/WhRKx5s5WWo" allowfullscreen = ''
    div class = 'col-xs-12 col-sm-6'
      h2 class = 'text-center' Технические характеристики
      div class = 'row vert'
        div class = 'col-xs-2'
          p class = 'text-center'
            i class = 'fa fa-orange fa-arrows-v fa-3x'
        div class = 'col-xs-10'
          p Высота игрушек 10 см
      div class = 'row vert'
        div class = 'col-xs-2'
          p class = 'text-center'
            i class = 'fa fa-orange fa-android fa-3x'
        div class = 'col-xs-10'
          p Все игрушки легко трансформируются в роботов
      div class = 'row vert'
        div class = 'col-xs-2'
          p class = 'text-center'
            i class = 'fa fa-orange fa-dropbox fa-3x'
        div class = 'col-xs-10'
          p Каждый Робокар упакован в фирменную коробку
      div class = 'row vert'
        div class = 'col-xs-2'
          p class = 'text-center'
            i class = 'fa fa-orange fa-clock-o fa-3x'
        div class = 'col-xs-10'
          p Ваш ребёнок успеет вырасти, прежде чем сломать их
      div class = 'row vert'
        div class = 'col-xs-2'
          p class = 'text-center'
            i class = 'fa fa-orange fa-thumbs-o-up fa-3x'
        div class = 'col-xs-10'
          p Высокое качество изготовления
      div class = 'row vert'
        div class = 'col-xs-2'
          p class = 'text-center'
            i class = 'fa fa-orange fa-child fa-3x'
        div class = 'col-xs-10'
          p Производятся из безопасных для детей материалов
div class = 'container-fluid' id = 'whyUs'
  div class = 'container'
    div.row
      div class = 'col-xs-6 col-sm-3'
        p.text-center
          i class = 'fa fa-blue fa-truck fa-5x'
        p.text-center Быстрая доставка
      div class = 'col-xs-6 col-sm-3'
        p.text-center
          i class = 'fa fa-blue fa-users fa-5x'
        p.text-center Тысячи довольных клиентов
      div class = 'col-xs-6 col-sm-3'
        p.text-center
          i class = 'fa fa-blue fa-gift fa-5x'
        p.text-center Замечательный подарок ребёнку
      div class = 'col-xs-6 col-sm-3'
        p.text-center
          i class = 'fa fa-blue fa-star fa-5x'
        p.text-center Оригинальная продукция
div class = 'container' id = 'offer'
  div class = 'row'
    div.col-xs-12
      h1.text-center 
        | Закажи всю команду робокаров сегодня по специальной цене<br><br>
        span class = 'label label-primary' 1299 руб
      br
  div class = 'row vertical-align'
    div class = 'col-xs-12 col-sm-6'
      img src = 'content/toys2' class = 'img-responsive center-block'
    div class = 'col-xs-12 col-sm-6 well'
      form class = 'form' action = '/clients' method = 'post'
        div class = 'form-group has-feedback'
          label for = 'exmpInput' Ваше имя
          input type = 'text' class = 'form-control name'
            span class = 'glyphicon form-control-feedback'
        div class = 'form-group has-feedback'
          label for = 'exmpInput' Номер телeфона
          input type = 'tel' class = 'form-control tel'
            span class = 'glyphicon form-control-feedback'
        div class = 'form-group has-feedback'
          label for = 'address' Адрес доставки
          input type = 'text' name = 'address' class = 'form-control address'
            span class = 'glyphicon form-control-feedback'
        button type = 'submit' class = 'btn btn-warning btn-block'
          strong Оставить заявку
  hr
  div.row
    div.col-xs-12
      h1.text-center Трек города Робокар Поли
      h2 class = 'text-center' id = 'track'
        | Один трек 
        span class = 'label label-primary' 1490 руб
        br
        | Четыре трека по цене 
        span class = 'label label-primary' 4900 руб
      br
    div class = 'col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3'
      img src = 'content/track' class = 'img-responsive center-block'
  hr
div class = 'container' id = 'feedback'
  div.row
    div class = 'col-xs-12'
      h1.text-center Отзывы
  div.row
    div class = 'col-xs-3'
      a href = 'https://vk.com/id3649028' target = '_blank'
        img src = 'content/review1' class = 'img-responsive'
    div class = 'col-xs-9'
      h4 
        a href = 'https://vk.com/id3649028' target = '_blank' Ольга Иванова
      p Спасибо за суперскоростную доставку, уложились за час )). Игрушки действительно оказались очень классными. Мы настолько их полюбили, что теперь спать без Хелли и не ложимся )
  div.row
    div class = 'col-xs-3'
      a href = 'https://vk.com/chebykinaanna' target = '_blank'
        img src = 'content/review2' class = 'img-responsive'
    div class = 'col-xs-9'
      h4
        a href = 'https://vk.com/chebykinaanna' target = '_blank' Анна Чебыкина
      p Ребенок играет  в робокаров просто круглые сутки, поэтому хватает их всего на пару недель, после этого у них начинают отваливаться руки и ноги)) Но ваши игрушки просто превысили все ожидания: прошло 2 месяца а они  как новые. Всем подругам порекомендовала покупать именно у вас =)
  div.row
    div class = 'col-xs-3'
      a href = 'https://vk.com/al_ma007' target = '_blank'
        img src = 'content/review4' class = 'img-responsive'
    div class = 'col-xs-9'
      h4
        a href = 'https://vk.com/al_ma007' target = '_blank' Алёна Кузьмина
      p Как и обещала, присылаю фотографию и делюсь своим мега-позитивным отзывом)<br>Мой ребенок в полнейшем восторге от своих новых друзей :) Остальные игрушки забросил и даже о них не вспоминает. Я конечно находила трансформеров дешевле чем в вашем магазине, и не очень хотела переплачивать. Но по опыту знакомых узнала, что им привозили игрушки не очень хорошие и они быстро ломались, поэтому решила взять подороже. Ну и не прогадала :) Играем уже больше 3-х месяцев)
div.container-fluid
  hr
  div.container
    div.row
      div.col-xs-12
        img src = 'content/foot' class = 'img-responsive'
        br
div class = 'modal fade' id = 'modal'
  div.modal-dialog
    div.modal-content
      form class = 'form' action = '/clients' method = 'post'
        div.modal-header
          button type = 'button' class = 'close' data-dismiss = 'modal' &times;
          h4.modal-title Оставьте свои данные для связи
        div.modal-body
          div class = 'form-group has-feedback'
            label for = 'name' Ваше имя
            input type = 'text' name = 'name' class = 'form-control name'
              span class = 'glyphicon form-control-feedback'
          div class = 'form-group has-feedback'
            label for = 'tel' Номер телефона
            input type = 'tel' name = 'phone' class = 'form-control tel'
              span class = 'glyphicon form-control-feedback'
          div class = 'form-group has-feedback'
            label for = 'address' Адрес доставки
            input type = 'text' name = 'address' class = 'form-control address'
              span class = 'glyphicon form-control-feedback'
        div.modal-footer
          button type = 'submit' class = 'btn btn-warning btn-block'
            strong Отправить
