#offer {
  span {
  }
  .well {
    border: 3px solid #337ab7;
  }
  img {
    z-index: -999;
  }
  span {
    font-size: 110%;
  }
  #track {
    line-height: 250%;
  }
}
.btn {
  font-size: 1.1em;
}
.modal-content {
  border: 3px solid #337ab7;
}
#poli, #roy, #helly, #amber {
  padding: 15px;
}
#poli {
  background-color: #D3EDFA;
}
#roy {
  background-color: #F5E8BC;
}
#helly {
  background-color: #ECFBDA;
}
#amber {
  background-color: #F8DEEB;
}
#top {
  h1 {
    margin-top: 1em;
  }
  img {
    width: 100%;
    margin-bottom: 1.5em;
  }
}
* {
  font-family: 'PT Sans', sans-serif;
}
#feedback {
  h1 {
    margin-top: 0;
  }
}
#whyUs {
  padding: 2em 0;
  background-color: #D3EDFA;
  .row {
    margin-top: 10px;
  }
}
#raskr {
  margin-right: 15px;
}
.fa-orange {
  color: #f0ad4e;
}
.fa-blue {
  color: #337ab7;
}
#top {
  background-image: url('/content/bg');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  h1 {
    color: white;
  }
}
body {
  padding-top: 50px
}
.alert {
  margin-top: 20px;
}
.navbar-brand {
  padding: 0 15px;
}
.well{
  margin-top: 20px;
}
p {
  font-size: 1.2em;
}
.cap-on-top {
  top: 0;
  bottom: auto;
}
#poli, #roy, #helly, #amber {
  div {
    padding: 15px;
  }
}
.vert {
    display: flex;
    align-items: center;
}
#feedback {
  .row {
    margin: 1em 0; 
  }
  h4 {
    margin-top: 0;
  }
  div {
    padding: 5px;
  }
}
hr {
  padding: 1em;
}
#techSpec {
  margin-top: 2em;
}
.navbar-right {
  h4 {
    margin: 15px;
  }
  button {
    margin: 8px 15px;
  }
}
@media(min-width: 768px) {
  .vertical-align {
    display: flex;
    align-items: center;
  }
}
@media(max-width: 768px) {
  #top {
    h1 {
      font-size: 2.2em;
    }
  }
}
@media (max-width: 992px) {
  .navbar-header {
    float: none;
  }
  .navbar-left,.navbar-right {
    float: none !important;
  }
  .navbar-toggle {
    display: block;
  }
  .navbar-collapse {
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
  }
  .navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px;
  }
  .navbar-collapse.collapse {
    display: none!important;
  }
  .navbar-nav {
    float: none!important;
  margin-top: 7.5px;
  }
  .navbar-nav>li {
    float: none;
  }
  .navbar-nav>li>a {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .collapse.in{
    display:block !important;
  }
}
